@font-face {
    font-family: "nunito-sans";
    src: url(../../assets/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf);
}

@font-face {
    font-family: "nunito";
    src: url(../../assets/fonts/Nunito-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: "nunito-sans", sans-serif;
}

.desktop-content {
    display: block;
}

.mobile-content {
    display: none;
}

.title-top {
    text-align: center;
    background-color: #005cff;
    color: #fff;
    font-size: 14px;
    font-family: "nunito-sans";
    padding: 8px 0;
}

#title-desconto {
    font-weight: bold;
    background-color: #6f00ca;
}

header {
    margin: 0;
    padding: 0;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.2));
}

.navbar-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.logo-img > img {
    width: 150px;
}

.container-search-form {
    display: flex;
    flex-direction: column;
}

.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 10px auto;
}

#search-input {
    padding: 10px 350px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#search-input::placeholder {
    color: #000;
    font-size: 14px;
    font-family: "nunito-sans";
    font-weight: 600;
}

#search-input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #000;
    font-weight: lighter;
    cursor: pointer;
}

.container-user {
    display: flex;
    align-items: center;
}

.container-user > img {
    width: 20px;
}

.user-name {
    font-family: "nunito-sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0%;
    margin: 0 20px 0px 10px;
}

.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-icon p {
    position: absolute;
    top: -12px;
    right: -10px;
    background-color: #005cff;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    font-family: "nunito-sans";
    padding: 0 8px;
    border-radius: 50%;
    font-weight: 700;
}

.navbar-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "nunito-sans";
    margin: 20px;
}

.navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-button p {
    font-family: "nunito-sans";
    font-size: 14px;
    font-weight: 700;
}

.navbar-burgerButton img {
    width: 14px;
    height: auto;
}

.navbar-item {
    font-size: 14px;
    font-weight: 400;
}

.banner-main {
    background-color: #e7e7ea;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.3));
}

.img-banner img {
    width: 450px;
    display: block;
}

#title-banner {
    font-family: "nunito";
    font-size: 70px;
    font-weight: 300;
}

#title-banner span {
    font-weight: 700;
}

.text-banner {
    font-family: "nunito";
}

.text-banner > p, .text-banner > h3 {
    color: #005cff;
}

.text-banner > p {
    font-size: 25px;
}

.text-banner > h3 {
    font-size: 60px;
}

.container-products {
    width: 67%;
    margin: 0 auto;
    margin-top: 40px;
    box-sizing: border-box;
}

.text-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

#title-products {
    font-family: "nunito-sans";
    font-size: 20px;
    font-weight: 700;
}

#button-more-products {
    font-family: "nunito-sans";
    font-size: 14px;
    font-weight: 700;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    transition: transform 0.5s ease-in-out;
    margin: 20px;
}

.card-container-mobile, .card-container-card01, .card-container-card02  {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 238px;
    box-sizing: border-box;
}

.new-title-product-mobile, .new-title-product-card01, .new-title-product-card02 {
    width: 41px;
    height: 23px;
    background-color: #00264e;
    color: #fff;
    border-radius: 4px;
    padding: 0 3px 3px 10px;
}

.new-title-product-mobile > p, 
.new-title-product-card01 > p,
.new-title-product-card02 > p {
    font-family: "nunito-sans";
    font-weight: 700;
    font-size: 12px;
}

.card-container-mobile > img, .card-container-card01 > img, .card-container-card02 > img {
    width: 222px;
}

.card-container-mobile > h3, .card-container-card01 > h3, .card-container-card02 > h3 {
    font-family: "nunito-sans";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0%;
    line-height: 100%;
    padding: 10px 0;
}

.card-container-mobile > h3 > span, 
.card-container-card01 > h3 > span, 
.card-container-card02 > h3 > span {
    color: #303030;
}

.price-container-mobile, .price-container-card01, .price-container-card02 {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 100%;
}

.old-price-mobile, .old-price-card01, .old-price-card02 {
    font-family: "nunito-sans";
    font-weight: 400;
    font-size: 12px;
    text-decoration: line-through;
}

.price-mobile, .price-card01, .price-card02 {
    font-family: "nunito-sans";
    font-weight: 700;
    font-size: 16px;
}

.price-off-mobile, .price-off-card01, .price-off-card02 {
    background-color: #5ec0be;
    color: #fff;
    font-family: "nunito-sans";
    font-weight: 700;
    font-size: 11px;
    text-decoration: underline;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.option-price-mobile, .option-price-card01, .option-price-card02 {
    font-family: "nunito-sans";
    font-weight: 400;
    font-size: 12px;
    color: #303030;
}

.option-price-mobile > span,
.option-price-card01 > span,
.option-price-card02 > span {
    font-weight: 700;
}

.button-buy-mobile, .button-buy-card01, .button-buy-card02 {
    font-family: "nunito-sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    background-color: #005cff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 24px 10px 24px;
    width: 100%;
}

.carousel-container-card01, .carousel-container-card02, .carousel-container-mobile {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.carousel-btn img {
    width: 40px;
    height: 40px;
}

.prev-1, .prev-2 {
    left: -205px;
}

.next-1, .next-2 {
    right: -205px;
}

#pagination-container-1, #pagination-container-2 {
    text-align: center;
    margin-top: 20px;
}

.pagination-bullet {
    font-size: 24px;
    margin: 0 5px;
    cursor: pointer;
    color: gray;
    transition: color 0.3s ease;
}

.pagination-bullet.active {
    color: #007bff;
}

.pagination-bullet:hover {
    color: #0056b3;
}

.main-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.main-01-img {
    background-color: #c2c2c2;
    width: 652px;
    float: left;
}

.main-01-img > img {
    width: 523px;
}

.main-01-text {
    text-align: start;
}

.main-01-text > h1 {
    font-family: "nunito";
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 4%;
    padding: 10px 20px 0 20px;
}

.main-01-text > p {
    font-family: "nunito";
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 5%;
    padding: 20px;
}

.main-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dedede;
    width: 100%;
    margin-top: 60px;
    height: 819px;
}

.main-02-img {
    width: 652px;
    float: right;
    margin-left: 20px;
}

.main-02-img > img {
    width: 100%;
}

.main-02-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-02-text > h1 {
    font-family: "nunito";
    font-weight: 700;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 4%;
    color: #4f4f4f;
}

.maps-main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.maps-main-text > img {
    width: 60px;
    padding: 10px;
}

.maps-main-text > p {
    font-family: "nunito";
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 5%;
    color: #4f4f4f;
    padding: 20px;
    width: 280px;
}

.regiao-disponivel {
    background-image: url("../../assets/img/image05.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    box-sizing: border-box;
}

.regiao-text {
    width: 100%;
    padding: 20px;
    background-color: #005cff;
}

.regiao-text > p {
    font-family: "nunito";
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

.newsletter {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter > h1 {
    font-family: "nunito-sans";
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.newsletter > h1 > span {
    color: #005cff;
}

.form-newsletter {
    width: 1260px;
    height: 176px;
    border-radius: 8px;
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container-newsletter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-control-input > input {
    width: 280px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.1));
}

.form-control-input > input::placeholder {
    color: #000;
}

.form-control-input > input:focus {
    outline: none;
}

.form-control-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-control-checkbox > input {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    appearance: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}

.form-control-checkbox > input:checked {
    background-color: #005cff;
    border: none;
}

.form-control-checkbox > input:checked::after {
    content: "✔";
    font-size: 12px;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.form-control-checkbox > label {
    font-family: "nunito-sans";
    font-weight: 700;
    font-size: 12px;
    color: #656565;
}

.form-control-checkbox > label > span {
    text-decoration: underline;
}

.form-container-newsletter > button {
    padding: 14px 24px 14px 20px;
    border: none;
    border-radius: 8px;
    background-color: #005cff;
    color: #fff;
    font-family: "nunito-sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

footer {
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
    height: 386px;
}

.footer-container-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
}

.logo-img-footer > img {
    width: 152px;
}

.social-media-icons {
    display: flex;
    gap: 40px;
}

.list-institucional > h4 {
    font-family: "nunito-sans";
    font-weight: 400;
    font-size: 12px;
    color: #4f4f4f;
}

.list-institucional > h4 > span {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.list-institucional > ul {
    font-family: "nunito-sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    list-style: none;
    color: #303030;
}

.list-institucional > ul > li > span {
    color: #4f4f4f;
    font-weight: 400;
}

.list-central > h4 {
    font-family: "nunito-sans";
    font-weight: 400;
    font-size: 12px;
    color: #4f4f4f;
}

.list-central > h4 > span {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.list-central > ul {
    font-family: "nunito-sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    list-style: none;
    color: #303030;
}

.list-central > ul > li > span {
    color: #4f4f4f;
    font-weight: 400;
    font-size: 12px;
}

.list-atendimento > h4 {
    font-family: "nunito-sans";
    font-weight: 400;
    font-size: 12px;
    color: #4f4f4f;
}

.list-atendimento > h4 > span {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.list-atendimento > ul {
    font-family: "nunito-sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    list-style: none;
    color: #303030;
}

.list-atendimento > ul > li > span {
    color: #303030;
    font-weight: 700;
    font-size: 14px;
}

.list-atendimento > p {
    font-family: "nunito-sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    list-style: none;
    color: #303030;
}

.payments-method {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-lorem-footer {
    font-family: "nunito-sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #303030;
    padding: 50px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.toggleDropdown {
    width: 1261px;
    height: 329px;
    background-color: #fff;
    margin: 0 auto;
    display: none;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;

}

.scroll-options {
    width: 300px;
    overflow-y: auto;
    max-height: 329px;
    padding-right: 10px;
    background-color: #f5f5f5;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.scroll-options::-webkit-scrollbar {
    width: 4px;
}

.scroll-options::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
}

.scroll-options::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    transition: 0.5s;
}

.scroll-option {
    font-family: "nunito-sans";
    font-weight: 400;
    font-size: 14px;
    color: #303030;
}


.scroll-option.active {
    font-family: "nunito-sans";
    font-weight: 700;
    font-size: 14px;
    color: #005cff;
}

.scroll-option:hover {
    cursor: pointer;
    color: #aaa;
}

.scroll-option.active:hover {
    cursor: pointer;
    color: #0056b3;
}

.container-toggleDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
}

.category {
    padding: 20px;
}

.category > h1 {
    font-family: "nunito-sans";
    font-weight: 700;
    font-size: 14px;
    color: #005cff;
    transition: 0.5s;
}


.category.active:hover {
    color: #0056b3;
    cursor: pointer;
}

.category > h3 {
    font-family: "nunito-sans";
    font-weight: 400;
    font-size: 14px;
    color: #656565;
    transition: 0.5s;
}

.category > h3:hover {
    cursor: pointer;
    color: #303030;
}

.img-toggleDropdown {
    width: 236px;
    height: 298px;
    border-radius: 10px;
    background-image: url("../../assets/img/image04.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 25px;
}

.img-toggleDropdown::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
}

.img-toggleDropdown > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "nunito-sans";
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.5%;
    color: #fff;
    z-index: 2;
}

.img-toggleDropdown > h4 > span {
    font-family: "nunito-sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0;
    color: #fff;
    z-index: 2;
    text-align: start;

}

.img-toggleDropdown > button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    width: 116px;
    z-index: 2;
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-self: start;

}

.navbar-button {
    cursor: pointer;
}

.navbar-button.active {
    color: #005cff;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }